
## <summary>policy for frequency</summary>


########################################
## <summary>
##	Transition to frequency.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`frequency_domtrans',`
	gen_require(`
		type frequency_t, frequency_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, frequency_exec_t, frequency_t)
')


########################################
## <summary>
##	Execute frequency server in the frequency domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`frequency_initrc_domtrans',`
	gen_require(`
		type frequency_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, frequency_initrc_exec_t)
')


########################################
## <summary>
##	Search frequency lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`frequency_search_lib',`
	gen_require(`
		type frequency_var_lib_t;
	')

	allow $1 frequency_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read frequency lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`frequency_read_lib_files',`
	gen_require(`
		type frequency_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, frequency_var_lib_t, frequency_var_lib_t)
')

########################################
## <summary>
##	Manage frequency lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`frequency_manage_lib_files',`
	gen_require(`
		type frequency_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, frequency_var_lib_t, frequency_var_lib_t)
')

########################################
## <summary>
##	Manage frequency lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`frequency_manage_lib_dirs',`
	gen_require(`
		type frequency_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, frequency_var_lib_t, frequency_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a frequency environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`frequency_admin',`
	gen_require(`
		type frequency_t;
		type frequency_initrc_exec_t;
		type frequency_var_lib_t;
	')

	allow $1 frequency_t:process { ptrace signal_perms };
	ps_process_pattern($1, frequency_t)

	frequency_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 frequency_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, frequency_var_lib_t)

')

